{% extends 'summarize/base.html' %}


{% block content %}
<!-- {% if user.is_authenticated %}
<p align="right"><a href="{% url 'video_new' %}" class="btn btn-warning" role="button">Add New Video</a></p>
{% endif %}
 -->
<br>
{% for video in videos %}
	<div class="custom-card1">
		<h1><a href="{% url 'video_detail' pk=video.pk %}"> {{ video.Name }}</a></h1>
	 <br>
    </div>
{% endfor %}


<center>
<div class="pagination" style="margin-left:120px">
    <span class="step-links">
        {% if videos.has_previous %}
        
            <a href="?page={{ videos.previous_page_number }}"><button type="button" class="btn btn-info" >Previous</button></a>
            
        {% endif %}

        <span class="current">
            Page {{ videos.number }} of {{ videos.paginator.num_pages }}.
        </span>

        {% if videos.has_next %}
    
            <a href="?page={{ videos.next_page_number }}"> <button type="button" class="btn btn-info"> Next</button></a>
        {% endif %}
    </span>
</div>
</center>
{% endblock %}
